
<div class="modal-header">
    <h4 class="modal-title">{{product?.name}}</h4>
    <button type="button" class="btn" (click)="CloseModal()">
       <i class="bi bi-x-lg"></i>
    </button>
</div>

<div class="modal-body">
    <div class="row" style="align-items: center;">
        <div class="col-7">
            <img src="{{product?.pictureUrl}}" alt="product" class="form-control bg-transparent " 
            style="width: 100%; height: 200px; border-radius: 50px;">
        </div>
        <div class="col-5" style="margin-left: -15px;">
            <h5><strong>Price : </strong>{{product?.price}}$</h5>
            <h5><strong>Brand : </strong>{{product?.productBrand}}</h5>
        </div>
    </div>
    <div class="row">
        <p class="lead">{{product?.description}}</p>
    </div>
    <div class="row mt-4 text-center">
        <div class="mt-2">
            <button class="btn btn-primary ms-1">Add To Cart</button>
        </div>
    </div>

</div>
