/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist/GeistVariableVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.body::-webkit-scrollbar {
    display: none;
  }


/*overriding the bootstrap theme*/

.body {
  
  background-image: url('https://localhost:5001/images/products/background-img.jpg') !important ;
  background-size:auto;
  backface-visibility: 0.6;
  
}



.header-bg {
    background-color: rgba(53, 53, 53, 0.053);
    backdrop-filter: blur(7px);
}

.bg-secondary {
    background-color: rgb(128, 128, 128 , 0.0) !important;
    backdrop-filter: blur(7px);
}

.btn-primary {
    background-color: rgb(108, 90, 172, 0.7);
    border-color: rgb(108, 90, 172, 0.3 );
}
.btn-primary:hover {
    background-color: rgb(108, 90, 172);
    border-color: rgb(108, 90, 172);
}
.list-group-secondary {
    background-color: rgb(128, 128, 128 , 0.0) !important;
    backdrop-filter: blur(7px);
}

.list-group-secondary .list-group-item:hover {
    background-color: rgb(108, 90, 172, 0.6);
}

.list-group-secondary .active {
    background-color: rgb(108, 90, 172, 0.6);
}



/*BreadCrumb styling*/

label.xng-breadcrumb-trail {
    color: rgb(108, 90, 172) !important;
}


/*Type ahead Styling*/
.ng-star-inserted {
    color: black;
    
}


.ng-star-inserted .dropdown-item:hover{
    background-color: rgb(108, 90, 172, 0.6);;
}

.ng-star-inserted .active {
    background-color: rgb(108, 90, 172, 0.6);;
}

