.card-image-wrapper:hover img {
    transform: scale(1.1 , 1.1);
    transition: ease-in-out;
    transition-duration: 1.1s;
    opacity: 0.4;
  }
  .card-image-wrapper img {
      transform: scale(1 , 1);
      transition: ease-in-out;
      transition-duration: 1s;
      opacity: 1;
      margin-top: 10px;
      width: 100%;
      height: 200px;
  }
  .card-image-wrapper {
      position: relative;
      background-color: transparent;
  }
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-size: larger;
      font-weight: bolder;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  
    .card-image-wrapper:hover .overlay {
      opacity: 1.6;
    }
  
    .card-header::-webkit-scrollbar {
      display: none;
  }
  
  @keyframes scrollAnimation {
    0% { transform: translateX(0); }
    50% { transform: translateX(-40%); }
    100% { transform: translateX(0);}
  }
  
  .scrolling-text {
    animation: scrollAnimation 10s  linear infinite;
  }
  .card-header:hover .scrolling-text {
    animation: none;
    transform: translateX(0); 
  }
  