.nav-link {
    cursor: pointer;
}
.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  
.navbar-brand img {
    opacity: 0.5;
    transition-duration: 1.2s;
}
.navbar-brand:hover img {
    opacity: 1.3;
    transition-duration: 1.2s;
}