<div class="container mt-5 " data-bs-theme="light">
    <div class="row">
        <section class="col-3 mt-5 border border-dark border-2 rounded" style="height: fit-content;">
            
            <h3 class="mt-2 text-black">Filters</h3>
        <h5 class="text-black mt-4 me-2 dropdown-toggle" (click)="isSortCollapsed = !isSortCollapsed">Sort </h5>  

            <select 
            [collapse]="isSortCollapsed" 
            [isAnimated]="true"  
            class="form-select bg-dark mb-4" 
            (change)="SortBy($event)">
                <option class="form-control mb-2 text-white" 
                *ngFor="let sorttype of sortOptions" 
                [value]="sorttype.value" >
                    {{sorttype.name}}
                </option>
            </select>
            
            <h5 class="text-black mt-3 dropdown-toggle" (click)="isBrandsCollapsed = !isBrandsCollapsed" >Brands</h5>
            <ul  class="list-group " [collapse]="isBrandsCollapsed" [isAnimated]="true">
                <li  *ngFor="let brand of brands" 
                   [class.active]="brand.id === queryParams.BrandId"
                   class="list-group-item list-group-item-action list-group-item-dark  text-black"  
                   (click)="SelectBrand(brand.id)" >{{brand.name}}</li>
            </ul>
            <h5 class="text-black mt-3 dropdown-toggle" (click)="isTypesCollapsed = !isTypesCollapsed">Types</h5>
            <ul class="list-group" [collapse]="isTypesCollapsed" [isAnimated]="true">
                <li (click)="SelectType(type.id)" *ngFor="let type of types" 
                [class.active]="type.id === queryParams.TypeId"
                class="list-group-item list-group-item-action list-group-item-dark text-black" >{{type.name}}</li>
            </ul>
            <div class="text-center mt-3">
            <button class="btn-outline-dark btn btn-sm mb-4 " (click)="ResetFilters()">Reset filters</button>
           </div>
        </section>
        <section  class="col-9" >
            <div class="d-flex justify-content-between pb-2 mb-3 align-items-center">
                <app-pagination-header [count]="count" 
                 [PageNumber]="queryParams.PageNumber" [PageSize]="queryParams.PageSize" ></app-pagination-header>
                <form  class="d-flex">
                    <input type="search" class="form-control bg-dark me-2" placeholder="search product">
                    <button class="btn btn-outline-dark me-2"><i class="bi bi-search"></i></button>
                    <button class="btn btn-outline-dark"><i class="bi bi-arrow-clockwise"></i></button>
                </form>
            </div>
            <div class="row row-cols-3 g-3">
                <app-shop-product-card *ngFor="let product of products" [product]="product"></app-shop-product-card>
            </div>
            <div class="text-dark ms-5 mt-4" *ngIf="count === 0">
                <h4 class="mt-5">No products were found</h4>
                <button class="btn btn-outline-dark mt-3" 
                (click)="ResetFilters() ">Reset Filters </button>
            </div>

            <div class="d-flex justify-content-center mt-3" *ngIf="count > 0" >
                <app-page-switcher 
                [count]="count"
                [PageSize]="queryParams.PageSize"
                (ChangePage)="ChangePage($event)"
                ></app-page-switcher>
                

            </div>
        </section>
    </div>
</div>
